body{
  background-color: rgba(44, 62, 80, 0.75);
}
* {
    box-sizing: border-box;
    font-size: 0;
    font-family: Avenir;
    border-radius: 15px;
}

.calculator {

    border: 3px solid rgb(132, 168, 1);
    width: 35%;

    margin: 0 auto;
    background: #ecf0f1;
}

/*Output Area*/
.functionOutput {
    width: 100%;
    height:100px;

    border: 3px solid rgb(132, 168, 1);
    border-radius: 15px;
    background: rgba(206, 244, 66, 0.3);
    font-size: 48px;

    text-align: center;
}

.inputDiv {
    display: inline-block;
    height: 80px;
    vertical-align: top;
    padding: 0 2%;
}

.inputDiv p {
    font-size: 12px;
}

.inputs {

    border: 3px solid rgb(132, 168, 1);
    font-size: 24px;

    height: 48px;
}

#firstInput {
    width: 30%;
}

#secondInput {
    width: 30%;
}

#operator: {
    width: 15%;
}

#output {
    width: 15%;
}
/*Input Area*/

.numCol {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.numRow {
    text-align: center;
    min-height: 30%;
}

.num {
    display: inline-block;
    font-size:48px;
    width: 25%;
    margin: 2%;
    text-align: center;
    color: rgba(22, 160, 133,1.0);
    border: 3px solid rgba(22, 160, 133,1.0);
    border-radius: 15%;
    cursor: pointer;
    background-color: rgba(22, 160, 133,0.5);
}

#clear {
    font-size: 36px;
    border:3px solid rgb(132, 168, 1);
    border-radius: 15px;
    cursor: pointer;
    color: rgb(132, 168, 1);
    background-color: rgba(206, 244, 66, 0.3);
    margin: 30px;
}

.functionCol {
    display: inline-block;
    width: 40%;
}

.func {
    text-align: center;
    font-size: 48px;
    border: 3px solid rgba(142, 68, 173,1.0);
    background-color: rgba(142, 68, 173,0.70);
    width: 33%;
    border-radius: 15%;
    margin: 2% auto;
    cursor: pointer;
    color: purple;
}
