* {
    box-sizing: border-box;
    font-size: 0;
    font-family: Verdana;
}

.calculator {
    border: 3px solid purple;
    width: 50%;
    margin: 0 auto;
    background: lightgrey;
}

/*Output Area*/
.functionOutput {
    width: 100%;
    height:100px;
    border: 3px solid orange;
    background: white;
    text-align: center;
}

.inputDiv {
    display: inline-block;
    height: 80px;
    vertical-align: top;
    padding: 0 2%;
}

.inputDiv p {
    font-size: 12px;
}

.inputs {
    border: 3px solid blue;
    font-size: 16px;
    height: 48px;
}

#firstInput {
    width: 30%;
}

#secondInput {
    width: 30%;
}

#operator: {
    width: 15%;
}

#output {
    width: 15%;
}
/*Input Area*/

.numCol {
    width: 60%;
    display: inline-block;
    vertical-align: top;
}

.numRow {
    text-align: center;
    min-height: 30%;
}

.num {
    display: inline-block;
    font-size:48px;
    width: 25%;
    margin: 2%;
    text-align: center;
    border: 3px solid red;
    border-radius: 15%;
    cursor: pointer;
    color: orange;
}

#clear {
    font-size: 48px;
    border:3px solid red;
    border-radius: 20%;
    cursor: pointer;
    color: orange;
}

.functionCol {
    display: inline-block;
    width: 40%;
}

.func {
    text-align: center;
    font-size: 48px;
    border: 3px solid red;
    width: 33%;
    border-radius: 15%;
    margin: 2% auto;
    cursor: pointer;
    color: purple;
}